%p
  %b Author:
  = on_the_spot_edit @post, :author
%p
  %b Title:
  = @post.title
%p
  %b Story:
  = @post.story
%p
  %b Rating:
  = @post.rating

= link_to 'Edit', edit_post_path(@post)
\|
= link_to 'Back', posts_path
