!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title== OnTheSpot Tester #{@page_title}
    %meta{'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}

    = stylesheet_link_tag :all

    = javascript_include_tag :defaults
    = javascript_include_tag :on_the_spot

    = csrf_meta_tag

    = yield :local_javascript

    = yield :head
  %body
    #banner
      .the-title
        %h1
          %p On The Spot Tester
    #container
      #sidebar
      #contents
        =yield
    #footer
      == &copy; 2010

