!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title== OnTheSpot Tester #{@page_title}
    %meta{'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'

    = csrf_meta_tag

  %body{:style => 'padding-top: 40px;'}
    .topbar
      .topbar-inner
        .container
          %h3
            = link_to "On the spot Tester", root_url
          %ul.nav
            %li
              =link_to "Home", root_url
            %li
              =link_to "About", root_url
    .container
      = yield
      %footer
        == &copy; 2010






