!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title== OnTheSpot Tester #{@page_title}
    %meta{'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'

    = csrf_meta_tag

  %body{:style => 'padding-top: 40px;'}
    .topbar
      .topbar-inner
        .container
          %h3
            = link_to "On the spot Tester", root_url
          %ul.nav
            %li
              =link_to "Home", root_url
            %li
              =link_to "About", about_path
    .container
      = yield
      %footer.footer
        .container
          %p
            On_the_spot is a
            = link_to '@dixis', 'http://twitter.com/dixis'
            realisation.
            %br
            = "&copy; 2011".html_safe
            |
            = app_version






